[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "NestedCategBayesImpute"]
	path = NestedCategBayesImpute
	url = https://github.com/cran/NestedCategBayesImpute
	shallow = true
	registered = true
